@model CreateProjectViewModel
@{
    Layout = "SingleWindowLayout";
    ViewBag.Title = "Create Project";
    ViewBag.WindowWidth = "400px";
}

<form asp-antiforgery="true" method="post" class="create-project-form padding10">
    <div asp-validation-summary="All" class="simple-list red-bullet fg-red"></div>
    <label asp-for="Name"></label>
    <div class="input-control text full-size">
        <input asp-for="Name" />
        <span class="input-state-error mif-warning"></span>
        <span class="input-state-success mif-checkmark"></span>
   </div>
    <label asp-for="Summary"></label>
    <div class="input-control text full-size">
        <input asp-for="Summary" />
        <span class="input-state-error mif-warning"></span>
        <span class="input-state-success mif-checkmark"></span>
    </div>
    <label asp-for="Description"></label>
    <div class="input-control textarea full-size">
        <textarea asp-for="Description"></textarea>
    </div>
    <div class="form-actions align-center">
        <input type="submit" value="Submit" class="button primary" />
    </div>
</form>
