# EditorConfig is awesome:http://EditorConfig.org

# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
indent_style = space
end_of_line  = crlf

[*.{cs,cshtml}]
# Place System.* first
dotnet_sort_system_directives_first = true

# Newline settings
csharp_new_line_before_open_brace  = all
csharp_preserve_single_line_blocks = true
csharp_new_line_before_else        = true
csharp_new_line_before_catch       = true
csharp_new_line_before_finally     = true

# Spacing settings
csharp_space_between_parentheses = control_flow_statements
csharp_space_between_method_declaration_parameter_list_parentheses = true
