@model Project

<div class="padding10">

    <h1>@Model.Name</h1>

    <h2>
        @Model.Summary
    </h2>

    <div>
        @Model.Description
    </div>

    <a asp-controller="Issue" asp-action="Index">Issues</a>
    <br />
    <a asp-controller="PullRequest" asp-action="Index">Pull Requests</a>

</div>

