@model Project
@{
    Layout = "ProjectLayout";
}

<div class="padding10">

    <h1>@Model.Creator.UserName @Model.Name</h1>

    <h2>
        @Model.Summary
    </h2>

    <div>
        @Model.Description
    </div>

</div>

