@model Project
@{
    var Project = Model;
    ViewBag.Title = $"Home of {Project.Creator.UserName}/{Project.Name}";
}

<div class="padding10">

    <h2>
        @Project.Summary
    </h2>

    <div>
        @Project.Description
    </div>

</div>

