@model IList<Project>

<div>
    @User.Identity.Name, you have @Model.Count project@(Model.Count > 1 ? "s" : ""). <a asp-action="Create">Create New</a>
</div>
<ul>
    @foreach ( var project in Model )
    {
        <li>@project.Name</li>
    }
</ul>
