@{
    if ( ViewBag.UseProjectLayout == true )
    {
        Layout = "ProjectLayout";
    }
}

<div>
    @await RenderSectionAsync("Header")
</div>

<div>
    @await Html.PartialAsync("TopicListPartial")
</div>
