
<div>
    Welcome to your account, @User.Identity.Name!
</div>

<div>
    <ul>
        <li><a asp-controller="Projects" asp-action="Index">View my projects</a></li>
    </ul>
</div>

<div>
    <a asp-action="SignOut">Sign out</a>
</div>