
<div>
    Welcome to your account, @User.Identity.Name!
</div>

<div>
    <ul>
        <li><a asp-controller="Project" asp-action="Authored" asp-route-userName="@User.Identity.Name">View my projects</a></li>
    </ul>
</div>

<div>
    <a asp-action="SignOut">Sign out</a>
</div>