<h1>Already +1? Get in!</h1>
<form method="post">
    <label>
        User name:
        <input name="name" />
    </label>
    <label>
        Password:
        <input name="password" />
    </label>
    <input type="submit" value="Submit" />
</form>
