@model SignUpViewModel

<h1>Wanna +1? Do it!</h1>
<form method="post">
    <label>
        <input asp-for="UserName" />
    </label>
    <label>
        Password:
        <input asp-for="Password" />
    </label>
    <input type="submit" value="Submit" />
</form>
