@model SignInViewModel
@{
    Layout = "SingleWindowLayout";
    ViewBag.Title = "Sign In";
    ViewBag.ShowValidationSummary = true;
}

<div class="align-center">
    @await Html.PartialAsync("SignInPartial", ViewData)
</div>
