@{
    Layout = "TopicListLayout";
    ViewBag.Title = $"Pull Requests of {ViewBag.Project.Creator.UserName}/{ViewBag.Project.Name}";
}

@section Header {
    <a class="button info" asp-action="Create">Create Pull Request</a>
}