@{
    Layout = "TopicListLayout";
    ViewBag.Title = $"Issues of {ViewBag.Project.Creator.UserName}/{ViewBag.Project.Name}";
}

@section Header {
    <a class="button info" asp-action="Create">Create Issue</a>
}